body {
  font-family: Arial, sans-serif;
  color: black; /* Corrected property name from font-color to color */
  line-height: 1.6;
  margin: 0;
  padding: 20px; /* This padding applies to the body, potentially causing layout issues */
  background: SlateGray;
  text-align: left;
}

.container {
	margin-left: 0;
	max-width: 800px;
	min-width: 800px;
    float: left;
    float: left;
text-align: left;
  background: #ddfacd;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1, h2, h3 {
  color: #333;
}

p {
  margin-bottom: 20px;
}

table {
	text-align: left;
  max-width: 800px;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  vertical-align: top;
}

th {
  background-color: #f4f4f4;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

table a {
  color: #0066cc;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
  body {
    padding: 0; /* Remove padding to prevent content from extending beyond the viewport */
  }
}

table img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.bhome {
  text-align: center;
  margin-bottom: 20px;
}

.bhome a { /* Assuming .bhome is a container for an <a> element */
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.ability {
	text-align: left;
	max-width: 800px;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ability h3 {

  color: #007bff;
  margin-top: 0;
  margin-bottom: 10px;
}

.ability p {
  margin: 5px 0;
  line-height: 1.5;
}

.ability:hover {
  background-color: #f0f0f0;
}

li {
  margin-left: 20px;
}

.resized-image {
  width: 50%;
  height: auto;
}


/* Unvisited links */
a:link {
    color: Black; /* Blue color for unvisited links */
}

/* Visited links */
a:visited {
    color: #FF6347; /* Purple color for visited links */
}

/* Mouse over links */
a:hover {
    color: red; /* Red color for mouse over links */
}

/* Selected links */
a:active {
    color: green; /* Green color for active links */
}
